### **Kaggle Competition**

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import KFold
from sklearn.neural_network import MLPClassifier

In [30]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [32]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [34]:
#copies so that we don't alter the originals
train2 = train.copy()
test2 = test.copy()

In [35]:
#handle missing value train
train2['Embarked'].fillna(train['Embarked'].mode()[0], inplace = True)
train2["CabinBool"] = (train["Cabin"].notnull().astype('int'))
train2['Age'] = train2['Age'].fillna(train['Age'].mean())

In [36]:
#handle missing value test
test2["CabinBool"] = (test["Cabin"].notnull().astype('int'))
test2['Fare'].fillna(test['Fare'].median(), inplace = True)
test2['Age'] = test2['Age'].fillna(train['Age'].mean())

In [37]:
# Family Size helps us when we assume that families stuck together, so this
# feature will be used in Family Survived
train2['Family_Size'] = train2['Parch'] + train2['SibSp']
test2['Family_Size'] = test2['Parch'] + test2['SibSp']

In [38]:
# if two tickets have numbers that are close to each other, then it's likely the passengers were 
#located near each other on the ship
train2['ticket_st'] = train2.Ticket.str.extract('(\d+$)').fillna(0).astype(int)
test2['ticket_st'] = test2.Ticket.str.extract('(\d+$)').fillna(0).astype(int)

In [39]:
#cabin letter
train2['Cabin_letter']=train2["Cabin"].astype(str).str[0]
test2['Cabin_letter']=test2["Cabin"].astype(str).str[0]

In [40]:
#dummies
label=LabelEncoder()
train2['Sex']=label.fit_transform(train2['Sex'])
embarked_dummy_tr=pd.get_dummies(train2.Embarked, prefix='Embarked')
Pclass_dummy_tr = pd.get_dummies(train2.Pclass,prefix='Pclass')
cabin_dummy_tr= pd.get_dummies(train2.Cabin_letter,prefix='Cabin')

train_md=pd.concat([train2,embarked_dummy_tr,Pclass_dummy_tr,cabin_dummy_tr],axis=1)
Y_train=train['Survived']
X_train=train_md.drop(['Survived','Embarked','Name','Ticket','Cabin','ticket_st',
                       'Cabin_letter'],axis=1)


test2['Sex']=label.fit_transform(test2['Sex'])
embarked_dummy_ts=pd.get_dummies(test2.Embarked, prefix='Embarked')
Pclass_dummy_ts = pd.get_dummies(test2.Pclass,prefix='Pclass')
cabin_dummy_ts= pd.get_dummies(test2.Cabin_letter,prefix='Cabin')

test_md=pd.concat([test2,embarked_dummy_ts,Pclass_dummy_ts,cabin_dummy_ts],axis=1)
X_test=test_md.drop(['Name','Embarked','Ticket','Cabin','ticket_st',
                      'Cabin_letter'],axis=1)

X_test['Cabin_T']=0

In [41]:
train2['Cabin_letter'].unique()

array(['n', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [42]:
test2['Cabin_letter'].unique()

array(['n', 'B', 'E', 'A', 'C', 'D', 'F', 'G'], dtype=object)

In [43]:
X_train

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,CabinBool,Family_Size,Embarked_C,...,Pclass_3,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_n
0,1,3,1,22.000000,1,0,7.2500,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,2,1,0,38.000000,1,0,71.2833,1,1,1,...,0,0,0,1,0,0,0,0,0,0
2,3,3,0,26.000000,0,0,7.9250,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,4,1,0,35.000000,1,0,53.1000,1,1,0,...,0,0,0,1,0,0,0,0,0,0
4,5,3,1,35.000000,0,0,8.0500,0,0,0,...,1,0,0,0,0,0,0,0,0,1
5,6,3,1,29.699118,0,0,8.4583,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6,7,1,1,54.000000,0,0,51.8625,1,0,0,...,0,0,0,0,0,1,0,0,0,0
7,8,3,1,2.000000,3,1,21.0750,0,4,0,...,1,0,0,0,0,0,0,0,0,1
8,9,3,0,27.000000,0,2,11.1333,0,2,0,...,1,0,0,0,0,0,0,0,0,1
9,10,2,0,14.000000,1,0,30.0708,0,1,1,...,0,0,0,0,0,0,0,0,0,1
10,11,3,0,4.000000,1,1,16.7000,1,2,0,...,1,0,0,0,0,0,0,1,0,0
11,12,1,0,58.000000,0,0,26.5500,1,0,0,...,0,0,0,1,0,0,0,0,0,0
12,13,3,1,20.000000,0,0,8.0500,0,0,0,...,1,0,0,0,0,0,0,0,0,1
13,14,3,1,39.000000,1,5,31.2750,0,6,0,...,1,0,0,0,0,0,0,0,0,1
14,15,3,0,14.000000,0,0,7.8542,0,0,0,...,1,0,0,0,0,0,0,0,0,1
15,16,2,0,55.000000,0,0,16.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,17,3,1,2.000000,4,1,29.1250,0,5,0,...,1,0,0,0,0,0,0,0,0,1
17,18,2,1,29.699118,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,19,3,0,31.000000,1,0,18.0000,0,1,0,...,1,0,0,0,0,0,0,0,0,1
19,20,3,0,29.699118,0,0,7.2250,0,0,1,...,1,0,0,0,0,0,0,0,0,1
20,21,2,1,35.000000,0,0,26.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,22,2,1,34.000000,0,0,13.0000,1,0,0,...,0,0,0,0,1,0,0,0,0,0
22,23,3,0,15.000000,0,0,8.0292,0,0,0,...,1,0,0,0,0,0,0,0,0,1
23,24,1,1,28.000000,0,0,35.5000,1,0,0,...,0,1,0,0,0,0,0,0,0,0
24,25,3,0,8.000000,3,1,21.0750,0,4,0,...,1,0,0,0,0,0,0,0,0,1
25,26,3,0,38.000000,1,5,31.3875,0,6,0,...,1,0,0,0,0,0,0,0,0,1
26,27,3,1,29.699118,0,0,7.2250,0,0,1,...,1,0,0,0,0,0,0,0,0,1
27,28,1,1,19.000000,3,2,263.0000,1,5,0,...,0,0,0,1,0,0,0,0,0,0
28,29,3,0,29.699118,0,0,7.8792,0,0,0,...,1,0,0,0,0,0,0,0,0,1
29,30,3,1,29.699118,0,0,7.8958,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,1,21.000000,1,0,11.5000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
862,863,1,0,48.000000,0,0,25.9292,1,0,0,...,0,0,0,0,1,0,0,0,0,0
863,864,3,0,29.699118,8,2,69.5500,0,10,0,...,1,0,0,0,0,0,0,0,0,1
864,865,2,1,24.000000,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
865,866,2,0,42.000000,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
866,867,2,0,27.000000,1,0,13.8583,0,1,1,...,0,0,0,0,0,0,0,0,0,1
867,868,1,1,31.000000,0,0,50.4958,1,0,0,...,0,1,0,0,0,0,0,0,0,0
868,869,3,1,29.699118,0,0,9.5000,0,0,0,...,1,0,0,0,0,0,0,0,0,1
869,870,3,1,4.000000,1,1,11.1333,0,2,0,...,1,0,0,0,0,0,0,0,0,1
870,871,3,1,26.000000,0,0,7.8958,0,0,0,...,1,0,0,0,0,0,0,0,0,1
871,872,1,0,47.000000,1,1,52.5542,1,2,0,...,0,0,0,0,1,0,0,0,0,0
872,873,1,1,33.000000,0,0,5.0000,1,0,0,...,0,0,1,0,0,0,0,0,0,0
873,874,3,1,47.000000,0,0,9.0000,0,0,0,...,1,0,0,0,0,0,0,0,0,1
874,875,2,0,28.000000,1,0,24.0000,0,1,1,...,0,0,0,0,0,0,0,0,0,1
875,876,3,0,15.000000,0,0,7.2250,0,0,1,...,1,0,0,0,0,0,0,0,0,1
876,877,3,1,20.000000,0,0,9.8458,0,0,0,...,1,0,0,0,0,0,0,0,0,1
877,878,3,1,19.000000,0,0,7.8958,0,0,0,...,1,0,0,0,0,0,0,0,0,1
878,879,3,1,29.699118,0,0,7.8958,0,0,0,...,1,0,0,0,0,0,0,0,0,1
879,880,1,0,56.000000,0,1,83.1583,1,1,1,...,0,0,0,1,0,0,0,0,0,0
880,881,2,0,25.000000,0,1,26.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
881,882,3,1,33.000000,0,0,7.8958,0,0,0,...,1,0,0,0,0,0,0,0,0,1
882,883,3,0,22.000000,0,0,10.5167,0,0,0,...,1,0,0,0,0,0,0,0,0,1
883,884,2,1,28.000000,0,0,10.5000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
884,885,3,1,25.000000,0,0,7.0500,0,0,0,...,1,0,0,0,0,0,0,0,0,1
885,886,3,0,39.000000,0,5,29.1250,0,5,0,...,1,0,0,0,0,0,0,0,0,1
886,887,2,1,27.000000,0,0,13.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
887,888,1,0,19.000000,0,0,30.0000,1,0,0,...,0,0,1,0,0,0,0,0,0,0
888,889,3,0,29.699118,1,2,23.4500,0,3,0,...,1,0,0,0,0,0,0,0,0,1
889,890,1,1,26.000000,0,0,30.0000,1,0,1,...,0,0,0,1,0,0,0,0,0,0
890,891,3,1,32.000000,0,0,7.7500,0,0,0,...,1,0,0,0,0,0,0,0,0,1

### **Modelling**

In [44]:
# LogisticRegression
lgr=LogisticRegression(random_state = 42,solver='liblinear')
cv = KFold(n_splits=10)
cv.get_n_splits(X_train)
for train_index, test_index in cv.split(X_train):
    lgr.fit(X_train.iloc[train_index,:], Y_train[train_index])
    lgrpred = lgr.predict(X_train.iloc[test_index,:])
    acc_lgr = accuracy_score(Y_train[test_index],lgrpred)*100
    print(acc_lgr)

80.0
80.89887640449437
78.65168539325843
82.02247191011236
79.7752808988764
77.52808988764045
76.40449438202246
80.89887640449437
87.64044943820225
82.02247191011236

In [46]:
#RandomForestClassifier
rfc=RandomForestClassifier()
cv = KFold(n_splits=10)
cv.get_n_splits(X_train)
for train_index, test_index in cv.split(X_train):
    rfc.fit(X_train.iloc[train_index,:], Y_train[train_index])
    rfcpred = rfc.predict(X_train.iloc[test_index,:])
    acc_rfc = accuracy_score(Y_train[test_index],rfcpred)*100
    print(acc_rfc)

75.55555555555556
79.7752808988764
77.52808988764045
75.28089887640449
83.14606741573034
79.7752808988764
83.14606741573034
77.52808988764045
84.26966292134831
83.14606741573034

In [47]:
#MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(150), max_iter=100,
                     solver='lbfgs', verbose=1, activation='logistic', random_state=42)  

model.fit(X_train,Y_train)
accuracy_score(Y_train, model.predict(X_train))

0.7048260381593715

### **Submission**

In [48]:
Y_pred_test = rfc.predict(X_test)

In [49]:
submission = pd.DataFrame(index=X_test.PassengerId)
submission['Survived'] = rfc.predict(X_test)
submission.reset_index().to_csv('submission.csv', index=False)